body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.search {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 10% 1rem 0;
  padding: 1rem;
  border: 1px solid #c1c1c1;
  border-radius: 1.5rem;

  &.focused {
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2),
      0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
  }

  .input,
  .results {
    flex: 1;
    font-size: 1rem;
    box-sizing: border-box;
  }

  .input {
    outline: none;
    border: none;
    margin: 0.75rem;

    &.has-results {
      padding-bottom: 1rem;
      border-bottom: 1px solid #c1c1c1;
    }
  }

  .results {
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;

    li {
      a {
        display: flex;
        text-decoration: none;
        padding: 1rem;

        &:link {
          color: #1967d2;
        }

        &:visited {
          color: #609;
        }

        &:hover {
          background: #eee;
        }

        .title {
          flex: 1;
          padding: 0 0.75rem;
        }

        .score,
        .author {
          color: #6d6d6d;
        }
      }
    }
  }
}
